In [3]:
# import libraries
import pandas as pd
from gcmap import GCMapper, Gradient

In [8]:
# load file
flight_df = pd.read_csv('data.csv', sep=';') # columns needed to be seperated by ';'
flight_df.head()

      DepLat     DepLon    ArrLat    ArrLon  NbFlights  CO2Intensity
0  33.504720  126.49310  37.55833  126.7906         88    103.555930
1  37.558330  126.79060  33.50472  126.4931         84     99.492429
2 -37.673330  144.84330 -33.94611  151.1772         83     79.571319
3 -33.946110  151.17720 -37.67333  144.8433         83     82.895090
4   4.191944   73.52917   3.47000   72.8300         77     23.100001

In [20]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24551 entries, 0 to 24550
Data columns (total 6 columns):
DepLat          24551 non-null float64
DepLon          24551 non-null float64
ArrLat          24551 non-null float64
ArrLon          24551 non-null float64
NbFlights       24551 non-null int64
CO2Intensity    24551 non-null float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [22]:
# gradient to color the routes with number of flights
grad = Gradient(((0,0,0,0), (0.5, 204, 0, 153), (1, 255, 204, 230)))

# create gcmapper 
gcm = GCMapper(cols=grad)
gcm.set_data(flight_df['DepLon'], flight_df['DepLat'], flight_df['ArrLon'], flight_df['ArrLat'], flight_df['NbFlights'])

# run and save the map
img = gcm.draw()
img.save('first_map.png')